%p
  Приветствуем вас, #{@resource.email}!
%p Кто-то запросил возможность изменения вашего пароля для сайта Bloggis и вы можете сделать это, сделав переход по ссылке, приведенной ниже.
%p= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Если вы не запрашивали эту возможность, просто проигнорируйте данное письмо.
%p Ваш пароль не изменится пока вы не зайдете по указанной ссылке и не укажите новый.
